/*Main */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;  
}

body  {
    font-family: 'Poppins', sans-serif;

}
nav {
    background: white;
    display: flex;
    justify-content: space-between;
    border: 2px solid whitesmoke;
    transition: 1s;
    z-index: 1000;
    box-shadow: 0px 0px 10px #005D7233;
    opacity: 0.9;
    
}
nav .mainMenu {
    display: flex;
    list-style: none;
    position: sticky;
}
nav .mainMenu li a {
    display: inline-block;
    margin: 0.7rem;
    padding: 1.2rem;
    text-decoration: none;
    color: green;
    font-size: 1.5rem;
    justify-content: center;
    border-radius: 3rem;
    transition: 1s;
    
    
}
nav .mainMenu li a:hover {
    background: rgba(83, 82, 82, 0.1)
}
nav .openMenu {
    font-size: 1.4rem;
    margin: 1.5rem;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo {
    margin: 6px;
    cursor: pointer;
}

.registar-nav{
    border-radius: 4rem;
    color: white;
    width: 10.8rem;
    height: 3.7rem;
    padding: 1rem;
    top: 1rem;
    bottom: 13px;
    border: none;
    text-align: center;
    background-color: green;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}


nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 10px;
}


/*................................hero-banner.................................*/

.hero-banner{
    display: block;
}

.slider{
    width: 100%;
    height: 48rem;
    background-color: white;
    background: url('assets/bg@3x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    

}

.image{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.content{
    height: 22rem;
    width: 50%;

}

.title{
    padding-top:20rem;
    text-align: left;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    margin-left: 5rem;
}

.subtitle{
    text-align: left;
    font-size: 2rem;
    font-weight: 300;
    margin-left: 5rem;
    margin-top: 1rem;
}

/* ----------------------categories--------------------- */



.categories{
    display: block;
    margin-top: 15rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    overflow: hidden;
    
}


.categories-txt{
    text-align: left;
    margin-top: 4rem;
    font-weight: bold;
    font-size: 6.7rem;
    letter-spacing: 0.2rem;
    line-height: 1.3;
    /* position: absolute; */
    left: 4rem;
    right: 70%;
    bottom: 20%;
    padding-right: 1rem;
    width: 20rem;
    height: 25rem;
}

.category-img{
    width: 20rem;
    height: 25rem;
    display: block;
    position: relative;
    
}

.category-txt-2{
    position:absolute;
    bottom: 8rem;
    justify-content: center;
    font-weight: 300;
    left: 0;
    right: 0;
    font-size: 1.5rem;
}

.coming-soon-txt{
    position: absolute;
    top: 8rem;
    right: 0;
    left: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.blur {
    filter: blur(0.9px);
    opacity: 0.7;
}

/* <-----------------------------partner--------------------> */
.pcontainer{
    margin-top: 10rem;
    background-image: url('./assets/bg_green.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;        
    background-position: center;
    position: relative;
    width: auto;
    height: 42.8rem;
}



.partner-txt h1 {
    margin: 10%;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

.partner-txt p {
    margin: 15%;
    margin-left: 10%;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}
.partner-btn{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: rgb(12, 118, 67);
    border-radius: 2.5rem;
    width: 33rem;
    height: 6.2rem;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: 13rem;
    font-size: 2.2rem;
    top: 24rem;
    text-align: center;
    box-shadow: rgba(9, 49, 33, 0.4) 0px 5px, rgba(9, 73, 31, 0.3) 0px 10px;
}

.partner-btn a{
    text-decoration: none;
    color: white;
}

/* ----------------------------why us------------------------- */


.why-us{
    display: block;
    padding: 10%;
}

.why-us-txt{
    text-align: center;
    margin-bottom: 10rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}
.why-us-row{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: space-around;
}

.reason{
    padding: 0 5rem;
    width: 30rem;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.reason p{
    font-size: 1.3rem;
    font-weight: 300;
    color: lightslategrey;
}

/* <---------------------------app-link----------------------------> */


 
.app-link {
    background-image: url("./assets/group10529@3x.png");
    height: 55rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: auto;
    height: 60rem;
    overflow: hidden;
}

.app-link-txt {
    height: 50rem;
    width: 35rem;
    margin-left: 15%;
    padding-top: 10%;
    font-family: 'Poppins', sans-serif;   
}

#app-link-txt-1 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

#app-link-txt-2 {
    margin-bottom: 5rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: lightslategrey;
}

.app-link-img {
    width: 35rem;
    box-shadow: rgba(221, 235, 232, 0.2) 0px 7px 29px 0px;
    
}



/* <-------------------footer---------------------------> */



.footer {
    position: relative;
    margin-top: 10rem;
    width: 100%;
    height: auto;
    bottom: 0px;
    box-sizing: border-box;  
    font-family: 'Poppins', sans-serif; 
} 

.footer-row{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
}

.footer-box{
    padding: 1rem 2rem;
    width: 19rem;
    height: 20rem;
}

.fb {
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.social {
    margin: 0 0.5rem;
}

.footer-head {
    margin-bottom: 1rem;
    text-align: left;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.footer-sub-txt {
    
    text-align: left;
    color: rgb(6, 36, 19);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.9rem;
}



.c-soon{
    color: lightslategray;
    font-size: 1.2rem;
}

/* <-------------------------------copywright----------------------> */

.copywright{
    display: block;
}

.copywright-content{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
    border: 2px solid whitesmoke;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    padding: 2rem;
    cursor: pointer;
}



  
@media(max-width: 800px){

    nav{
        opacity: 1;
    }
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease-in;
        display: none;
        color: white;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;

    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }

    .registar-nav{
        border-radius: 4rem;
        color: white;
        width: 10.8rem;
        height: 3.7rem;
        padding: 1rem 1rem;
        top: 1rem;
        bottom: 13px;
        border: none;
        text-align: center;
        background-color: green;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
    }


    nav .mainMenu li a {
        display: inline-block;
        margin: 0.7rem;
        padding: 1.2rem;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        justify-content: center;
        border-radius: 3rem;
        transition: 1s;
        
        
    }
    
}


@media (min-width:480px) and (max-width:768px){
    html{
        font-size: 55%;
    }
    .hero-banner{
        display: block;
    }
    
    .slider{
        top: 75px;
        width: auto;
        height: 394px;
        background-color: white;
        background: url('./assets/bg@2x.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: hidden;
    
    }
    
    .image{
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
    .content{
        height: 11rem;
        width: 50%;
    
    }
    
    .title{
        padding-top:20rem;
        text-align: left;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 0.3rem;
        margin-left: 5rem;
    }
    
    .subtitle{
        text-align: left;
        font-size: 2rem;
        font-weight: 300;
        margin-left: 5rem;
        margin-top: 1rem;
    }
    


    /* <------------------category-----------------> */

    

    .categories{
        display: block;
        margin-top: 15rem;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }


    .categories-txt{
        text-align: center;
        margin-top: 4rem;
        font-weight: bold;
        font-size: 6.7rem;
        letter-spacing: 0.2rem;
        line-height: 1.3;
        /* position: absolute; */
        left: 4rem;
        right: 70%;
        bottom: 20%;
        padding-right: 1rem;
        width: 40rem;
        height: 20rem;
        overflow:hidden;
    }

    .category-img{
        width: 20rem;
        height: 25rem;
        display: block;
        position: relative;
        transition: 0.5s;
    }

    .category-txt-2{
        position:absolute;
        bottom: 8rem;
        justify-content: center;
        font-weight: 300;
        left: 0;
        right: 0;
        font-size: 1.5rem;
    }

    .coming-soon-txt{
        position: absolute;
        top: 8rem;
        right: 0;
        left: 0;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .blur {
        filter: blur(0.9px);
        opacity: 0.7;
    }




    
    /* <-----------------------------partner--------------------> */
    .pcontainer{
        margin-top: 5rem;
        background-image: url('./assets/bg_green.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-repeat: no-repeat;        
        background-position: center;
        position: relative;
        width: auto;
        height: 42.8rem;
    }



    .partner-txt h1 {
        margin: 0 10rem 0 10rem;
        margin-top: 8rem;
        padding-top: 6rem;
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 0.4rem;
        font-family: 'Poppins', sans-serif;
        position: absolute;
    }

    .partner-txt p {
        margin: 0 10rem 0 10rem;
        margin-top: 12rem;
        padding-top: 8rem;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        font-family: 'Poppins', sans-serif;
        position: absolute;
    }
    .partner-btn{
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        background-color: rgb(12, 118, 67);
        border-radius: 2.5rem;
        width: 20rem;
        height: 4.2rem;
        margin: 0 auto;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        left: 13rem;
        font-size: 2.2rem;
        top: 24rem;
        text-align: center;
        box-shadow: rgba(9, 49, 33, 0.4) 0px 5px, rgba(9, 73, 31, 0.3) 0px 10px, 
    
    }

    .partner-btn a{
        text-decoration: none;
        color: white;
    }

    
    /* ----------------------------why us------------------------- */


    .why-us{
        display: block;
        padding: 10%;
    }

    .why-us-txt{
        text-align: center;
        margin-bottom: 10rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 5rem;
    }
    .why-us-row{
        display: flex;
        position: relative;
        text-align: center;
        justify-content: space-around;
    }

    .reason{
        padding: 2rem;
        width: 40rem;
        height: auto;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
    }

    .reason p{
        font-size: 1.3rem;
        font-weight: 300;
        color: lightslategrey;
    }

    /* <---------------------------app-link----------------------------> */


 
    .app-link {
        background-image: url("./assets/group10529@3x.png");
        height: 55rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        width: auto;
        height: 40rem;
        overflow: hidden;
    }

    .app-link-txt {
        height: 50rem;
        width: 35rem;
        margin-top: 5rem;
        margin-left: 15%;
        padding-top: 5rem;
        font-family: 'Poppins', sans-serif;   
    }

    #app-link-txt-1 {
        margin-bottom: 2rem;
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }

    #app-link-txt-2 {
        margin-bottom: 5rem;
        font-size: 1.4rem;
        font-weight: 300;
        color: lightslategrey;
    }

    .app-link-img {
        width: 35rem;
        box-shadow: rgba(221, 235, 232, 0.2) 0px 7px 29px 0px;
    
    }



    /* <-------------------footer---------------------------> */



    .footer {
        position: relative;
        margin-top: 10rem;
        width: 100%;
        height: auto;
        bottom: 0px;
        box-sizing: border-box;  
        font-family: 'Poppins', sans-serif; 
    } 

    .footer-row{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-around;
    }

    .footer-box{
        padding: 1rem 2rem;
        width: 19rem;
        height: 20rem;
    }

    .fb {
        margin-bottom: 1rem;
        margin-top: 1rem;

    }

    .social {
        margin: 0 0.5rem;
    }

    .footer-head {
        margin-bottom: 1rem;
        text-align: left;
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .footer-sub-txt {
    
        text-align: left;
        color: rgb(6, 36, 19);
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.9rem;
    }



    .c-soon{
        color: lightslategray;
        font-size: 1.2rem;
    }



}

@media (max-width:480px){
    html{
        font-size: 45%;
    }

    .hero-banner{
        display: block;
    }
    
    .slider{
        top: 1px;
        width: auto;
        height: 294px;
        background-color: white;
        background: url('./assets/bg.png');
        background-size: 100% 100%;
        overflow: hidden;
    }
    
    .image{
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        width: auto;
        height: 294px;
    }
    .content{
        height: 5rem;
        width: 70%;
    
    }
    
    .title{
        padding-top:10rem;
        text-align: left;
        font-size: 5rem;
        font-weight: 500;
        letter-spacing: 0;
        margin-left: 5rem;
        
    }
    
    .subtitle{
        text-align: left;
        font-size: 2rem;
        font-weight: 300;
        margin-left: 5rem;
        margin-top: 1rem;
    }



    

    /* <------------------category-----------------> */

    

    .categories{
        display: block;
        margin-top: 15rem;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }


    .categories-txt{
        text-align: center;
        margin-top: 4rem;
        font-weight: bold;
        font-size: 6.7rem;
        letter-spacing: 0.2rem;
        line-height: 1.3;
        /* position: absolute; */
        left: 4rem;
        right: 70%;
        bottom: 20%;
        padding-right: 1rem;
        width: 50rem;
        height: 20rem;
        overflow:hidden;
    }

    .category-img{
        width: 90px;
        height: 100px;
        display: block;
        position: relative;
        transition: 0.5s;
        object-fit: contain;
    }
    .image-cat{
        width: 90px;
        height: 100px;

    }
    .category-txt-2{
        position:absolute;
        bottom: 3rem;
        justify-content: center;
        font-weight: 300;
        left: 0;
        right: 0;
        font-size: 10px;
    }

    .coming-soon-txt{
        position: absolute;
        top: 5rem;
        right: 0;
        left: 0;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .blur {
        filter: blur(0.9px);
        opacity: 0.7;
    }




    

    
    /* <-----------------------------partner--------------------> */
    .pcontainer{
        margin-top: 5rem;
        background-image: url('./assets/bg_green.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-repeat: no-repeat;        
        background-position: center;
        position: relative;
        width: auto;
        height: 20.8rem;
    }



    .partner-txt h1 {
        margin: 0 10rem 0 10rem;
        margin-top: 3rem;
        padding-top: 3rem;
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 0;
        font-family: 'Poppins', sans-serif;
        position: absolute;
    }

    .partner-txt p {
        margin: 0 10rem 0 10rem;
        margin-top: 5rem;
        padding-top: 5rem;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        font-family: 'Poppins', sans-serif;
        position: absolute;
    }
    .partner-btn{
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        background-color: rgb(12, 118, 67);
        border-radius: 2.5rem;
        width: 13rem;
        height: 3rem;
        margin: 0 auto;
        padding: 0;
        display: table-cell;
        position: relative;
        left: 10rem;
        font-size: 2rem;
        top: 13rem;
        text-align: center;
        
    }

    .partner-btn a{
        text-decoration: none;
        color: white;
        text-align: center;
    }



    
    /* ----------------------------why us------------------------- */


    .why-us{
        display: block;
        padding: 10%;
    }

    .why-us-txt{
        text-align: center;
        margin-bottom: 4rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 5rem;
    }
    .why-us-row{
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }

    .reason{
        padding: 2rem;
        width: 40rem;
        height: auto;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
    }

    .reason p{
        font-size: 1.3rem;
        font-weight: 300;
        color: lightslategrey;
    }




    
    /* <---------------------------app-link----------------------------> */


 
    .app-link {
        background-image: url("./assets/group10529@3x.png");
        height: 55rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        width: auto;
        height: 29rem;
        overflow: hidden;
    }

    .app-link-txt {
        height: 0;
        width: 30rem;
        margin-top: 5rem;
        margin-left: 3%;
        padding-top: 1rem;
        font-family: 'Poppins', sans-serif;   
    }

    #app-link-txt-1 {
        margin-bottom: 0.5rem;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }

    #app-link-txt-2 {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        font-weight: 300;
        color: lightslategrey;
    }

    .app-link-img {
        width: 25rem;
        box-shadow: rgba(221, 235, 232, 0.2) 0px 7px 29px 0px;
        margin-bottom: 3rem;
    
    }



    /* <-------------------footer---------------------------> */



    .footer {
        position: relative;
        margin-top: 10rem;
        width: 100%;
        height: auto;
        bottom: 0px;
        box-sizing: border-box;  
        font-family: 'Poppins', sans-serif; 
    } 

    .footer-row{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-around;
    }

    .footer-box{
        padding: 1rem 2rem;
        width: 19rem;
        height: 20rem;
    }

    .fb {
        margin-bottom: 1rem;
        margin-top: 1rem;

    }

    .social {
        margin: 0 0.5rem;
    }

    .footer-head {
        margin-bottom: 1rem;
        text-align: left;
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .footer-sub-txt {
    
        text-align: left;
        color: rgb(6, 36, 19);
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.9rem;
    }



    .c-soon{
        color: lightslategray;
        font-size: 1.2rem;
    }
} 
